body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: url("assets/bg.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;       /* lebih aman di mobile daripada height */
  box-sizing: border-box;  /* hitung padding ke dalam */
  overflow-x: hidden;      /* cegah geser ke samping */
}

/* ===== Container ===== */
.container {
  background: #ffffff;
  padding: 15px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
  text-align: center;
  width: 100%;
  max-width: 500px;
  position: relative; /* penting untuk stiker */
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #1D4E89;
}

/* ===== Input ===== */
.input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#passwordInput {
  width: 80%;
  font-size: 22px;
  text-align: center;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #5DADEC;
  letter-spacing: 6px;
  background: #f0f8ff;
  outline: none;
}

/* ===== Keypad ===== */
.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;
}

.keypad button {
  font-size: 20px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #5DADEC;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 4px 6px rgba(194, 194, 194, 0.15);
}

.keypad button:active {
  background: #1D4E89;
  transform: scale(0.95);
}

#message {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}

/* ===== Sticker ===== */
.sticker {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
}

.sticker-top-right { top: -40px; right: 0px; }
.sticker-right { right: -40px; top: 65%; transform: translateY(-50%); }
.sticker-bottom-left { bottom: -30px; left: -25px; }
.sticker-top-left { top: 110px; left: -10px; }


  /* ===== Hilangkan background putih di gambar/gif transparan ===== */
.sticker {
  background: transparent;        /* pastikan nggak ada background */
  mix-blend-mode: normal;         /* default */
}

.sticker.no-bg {
  mix-blend-mode: multiply;       /* trik kalau masih ada putih */
  filter: brightness(1) contrast(1.4);
}

/* ===== Responsive (HP) ===== */
@media (max-width: 600px) {
  .container {
    width: 95%;
    max-width: 95vw;   /* biar lebih proporsional */
    padding: 30px;
  }

  h2 {
    font-size: 1.8rem;
  }

  #passwordInput {
    font-size: 24px;
    padding: 10px;
    letter-spacing: 8px;
  }

  .keypad button {
    font-size: 16px;
    padding: px;
    border-radius: 30px;
  }

  .sticker {
    width: 65px;
    height: 65px;
  }

  .sticker-top-right { top: -20px; right: -5px; }
  .sticker-right { right: -30px; top: 60%; }
  .sticker-bottom-left { bottom: -20px; left: -10px; }
  .sticker-top-left { top: 90px; left: -40px; }
}